<div class="importer-header">
    <div class="title">
        {{@root.i18n 'title'}}
    </div>
    <div class="import">
        <a data-action="import-code">
            <i class="fa-solid fa-laptop-code"></i>
            {{@root.i18n 'import.code'}}
        </a>
        <a data-action="import-file">
            <i class="fa-solid fa-file-import"></i>
            {{@root.i18n 'import.file'}}
        </a>
        <a {{#if hasData}} data-action="delete-data" {{else}} class="disabled" {{/if}}
            {{{@root.i18n.tooltip 'import.delete' }}}>
            <i class="fa-solid fa-trash"></i>
        </a>
    </div>
    <div class="menu">
        {{#each menu as |entry|}}
        <a class="entry" data-action="select-tab" data-tab="{{entry.type}}">
            <i class="{{entry.icon}}"></i>
            <span>{{@root.i18n 'menu' entry.type}}</span>
        </a>
        {{/each}}
    </div>
</div>
<div class="data" data-tab="core">
    {{#if core.warning}}
    <div class="warning">{{{core.warning}}}</div>
    {{/if}}
    <div class="boosts" style="--attr: {{core.boosts.length}};">

    </div>
    {{#each core.items as |entry|}}
    {{> 'entry' entry}}
    {{/each}}
</div>
<div class="data" data-tab="feats">
    feats
</div>
<div class="data" data-tab="inventory">
    inventory
</div>
<div class="data" data-tab="skills">
    skills
</div>
<div class="data" data-tab="spells">
    spells
</div>
<div class="data" data-tab="details">
    details
</div>


{{#*inline 'entry'}}
<div class="entry{{#if parent}} child{{/if}}" data-droppable data-item-type="{{itemType}}" {{#if
    index includeZero=true}} data-index="{{index}}" {{/if}} {{#if parent}} data-parent="{{parent}}"
    {{/if}}>
    <img src="{{img}}">
    <div class="header">
        <div class="section">
            <div class="label">
                {{label}}:
            </div>
            <div class="value">
                {{ifThen source.label source.label '––'}}
            </div>
        </div>
        <div class="controls">
            {{#each actions as |action|}}
            <a class="action" data-action="entry-{{action.type}}">
                <i class="{{action.icon}}" data-tooltip="{{action.label}}"></i>
            </a>
            {{/each}}
        </div>
    </div>
    <div class="index">
        <div class="section">
            <div class="label">
                {{@root.i18n 'data.entry' (ifThen isOverride 'override' 'match')}}:
            </div>
            <div class="value">
                {{#if selection}}
                <a data-action="open-sheet" data-item-uuid="{{selection.uuid}}"
                    data-tooltip="{{localize 'CONTROLS.CommonOpenSheet'}}">
                    {{selection.name}}
                </a>
                {{else}}
                <span>––</span>
                {{/if}}
            </div>
        </div>
        <div class="section">
            <div class="label">
                {{@root.i18n 'data.entry.current'}}:
            </div>
            <div class="value">
                {{#if current}}
                <a data-action="open-sheet" data-item-uuid="{{current.uuid}}"
                    data-tooltip="{{localize 'CONTROLS.CommonOpenSheet'}}">
                    {{current.name}}
                </a>
                {{else}}
                <span>––</span>
                {{/if}}
            </div>
        </div>
    </div>
    {{#if level}}
    <div class="level">{{level}}</div>
    {{/if}}
</div>
{{#each children as |child|}}
{{> 'entry' child}}
{{/each}}
{{/inline}}