<h4>{{i18n 'types.group'}}</h4>
<label>
    <input type="radio" name="type" value="default" checked />
    {{i18n 'types.default'}}
</label>
<label>
    <input type="radio" name="type" value="custom" />
    {{i18n 'types.custom'}}
</label>
<hr />
<h4>{{i18n 'draw.group'}}</h4>
<label>
    <input type="radio" name="draw" value="random" />
    {{i18n 'draw.random'}}
</label>
<label>
    <input type="radio" name="draw" value="unique" checked />
    {{i18n 'draw.unique'}}
</label>