<div class="actions">
    {{#each actions as |action|}}
    <div class="action" data-uuid="{{action.uuid}}" data-name="{{action.name}}" data-key="{{action.key}}">
        <input class="item-select" type="checkbox" name="action">
        <span class="item-name" data-action="expand">{{action.name}}</span>
        <span class="item-drawn">
            {{#if @root.isUnique}}
            {{#if action.drawn}}
            <i class="fas fa-lock fa-fw" data-tooltip="{{@root.i18n 'drawn'}}"></i>
            {{else}}
            <i class="fas fa-unlock fa-fw greyed"></i>
            {{/if}}
            {{/if}}
        </span>
        <div class="item-summary">
            <div class="item-description"></div>
        </div>
    </div>
    {{/each}}
</div>

<div class="buttons">
    <hr>

    <div>
        <input type="checkbox" name="message" checked>
        <span>{{i18n 'withMessage'}}</span>
    </div>

    {{#if isUnique}}
    <div>
        <input type="checkbox" name="drawn" checked>
        <span>{{i18n 'asDrawn'}}</span>
    </div>
    {{/if}}
</div>