<input type="hidden" name="id" value="{{service.id}}">
<input type="hidden" name="macroUUID" value="{{service.macroUUID}}">
<div class="header">
    <img class="image" data-action="edit-image" data-src="{{service.img}}" src="{{service.img}}">
    <div class="data">
        <div class="row">
            <label class="name">
                <span>{{@root.i18n 'name'}}</span>
                <input type="text" name="name" value="{{service.name}}" placeholder="{{service.id}}">
            </label>
            <label class="level">
                <span>{{localize 'PF2E.LevelLabel'}}</span>
                <input type="number" name="level" value="{{service.level}}" min="0" step="1" placeholder="0">
            </label>
        </div>
        <div class="row">
            <label class="enabled">
                <span>{{@root.i18n 'enabled'}}</span>
                <input type="checkbox" name="enabled" {{checked service.enabled}}>
            </label>
            <label class="price">
                <span>{{localize 'PF2E.PriceLabel'}}</span>
                <input type="text" name="price" value="{{service.price}}" placeholder="0 gp">
            </label>
            <label class="quantity">
                <span>
                    {{localize 'PF2E.QuantityLabel'}}
                    <i class="fa-light fa-circle-info" {{{@root.i18n.tooltip 'quantity' }}}></i>
                </span>
                <input type="number" name="quantity" value="{{service.quantity}}" min="-1" step="1" placeholder="-1">
            </label>
        </div>
        <div class="row macro">
            <span>{{@root.i18n 'macro.label'}}</span>
            {{#if macro}}
            <a class="macro-link" data-tooltip="CONTROLS.CommonOpenSheet" data-action="open-macro-sheet">
                <img src="{{macro.img}}" />
                <span>{{macro.name}}</span>
            </a>
            <button type="button" data-action="delete-macro" class="icon fa-solid fa-trash"
                data-tooltip="PF2E.Item.Ability.SelfAppliedEffect.Delete"></button>
            {{else}}
            <div class="macro-link empty">
                <span>{{@root.i18n 'macro.drop'}}</span>
            </div>
            <button type="button" data-action="open-macros" class="icon fa-solid fa-folder" data-tooltip="MACRO.Directory">
            </button>
            {{/if}}
        </div>
        <string-tags name="tags" value="{{service.tags}}" placeholder="{{@root.i18n 'tags'}}"></string-tags>
    </div>
</div>
<prose-mirror toggled="true" name="description" value="{{service.description}}">
    {{{enrichedDescription}}}
</prose-mirror>
