<div>
    <button type="button" data-better-action="open-equipment-tab">
        <i class="fa-solid fa-person-dolly"></i>
        {{@root.i18n 'browser'}}
    </button>
</div>
<div>
    <button type="button" data-better-action="open-filters-menu">
        <i class="fa-solid fa-sack-dollar"></i>
        {{@root.i18n 'filters'}}
    </button>
</div>
<div class="form-group">
    <label>
        <span>{{@root.i18n 'infiniteAll.label'}}</span>
        <i class="fa-solid fa-info-circle"
            data-tooltip="{{@root.i18n.path 'infiniteAll.tooltip'}}"></i>
    </label>
    <input type="checkbox" name="infiniteAll" {{checked infiniteAll}}>
</div>