<div class="left">
    <label>
        <input type="radio" name="targets" value="enemies">
        {{@root.i18n 'enemies'}}
    </label>
    <label>
        <input type="radio" name="targets" value="allies">
        {{@root.i18n 'allies'}}
    </label>
    <label>
        <input type="radio" name="targets" value="all" checked>
        {{@root.i18n 'all'}}
    </label>
</div>

<div class="right">
    <label>
        <input type="checkbox" name="self" {{disabled noSelf}} {{checked (not noSelf)}}>
        {{@root.i18n 'self'}}
    </label>
    <label>
        <input type="checkbox" name="neutral" checked>
        {{@root.i18n 'neutral'}}
    </label>
</div>