<h3 class="header">
    {{i18n 'label'}}
    {{#if canTrade}}
    <button type="button" data-action="hero-actions-trade">
        <i class="fas fa-right-left"></i> {{i18n 'trade'}}
    </button>
    {{else}}
    <button type="button" title="{{i18n 'tbd'}}">
        <i class="fas fa-question"></i>
    </button>
    {{/if}}
</h3>
<ol class="actions-list item-list directory-list heroActions-list" {{#unless canUse}} data-discard="{{diff}}" {{/unless}}>
    {{#each list as |action|}}
    <li class="item action" data-uuid="{{action.uuid}}">
        <div class="item-name">
            <div data-action="display" class="item-image" style="background-image: url(systems/pf2e/icons/actions/Passive.webp)">
                <i class="fas fa-comment-alt"></i>
            </div>
            <h4 data-action="expand">{{action.name}}</h4>
        </div>
        {{#if @root.owner}}
        <div class="item-controls">
            {{#if @root.canUse}}
            <button type="button" data-action="use">{{@root.i18n 'action.use'}}</button>
            {{else}}
            <button type="button" data-action="discard">{{@root.i18n 'action.discard'}}</button>
            {{/if}}
        </div>
        {{/if}}
        <div class="item-summary">
            <div class="item-description"></div>
        </div>
    </li>
    {{/each}}
    {{#if canDraw}}
    <button type="button" data-action="draw">{{i18n 'draw' nb=diff}}</button>
    {{else if mustDiscard}}
    <div class="error">{{i18n 'error' nb=diff}}</div>
    <button type="button" data-action="discard-selected">
        {{i18n 'discard' nb=diff}}
    </button>
    {{/if}}
</ol>