<div class="header">
    {{i18n 'select'}}
    <select name="target">
        <option value="" selected disabled hidden></option>
        {{selectOptions targets selected=target.id nameAttr="id" labelAttr="name"}}
    </select>
</div>
<div class="actions">
    <div class="left">
        {{#each actions}}
        <div class="action">
            <input type="radio" name="action" value="{{uuid}}" />
            <label data-action="description"> {{name}}</label>
        </div>
        {{/each}}
    </div>
    <i class="exchange fa-solid fa-right-left"></i>
    <div class="right">
        {{#each targetActions}}
        <div class="action">
            <label data-action="description">{{name}} </label>
            <input type="radio" name="targetAction" value="{{uuid}}" />
        </div>
        {{/each}}
    </div>
</div>
<div class="buttons">
    <button data-action="trade" {{disabled (not target)}}>{{i18n 'send'}}</button>
    <button data-action="cancel">{{i18n 'cancel'}}</button>
</div>