<form>
    <div class="hint">{{i18n 'hint'}}</div>
    <hr />
    <div class="lores">
        <label>{{i18n 'unspecified'}}</label>
        <input type="text" name="unspecified" value="{{unspecified}}" />
        <label>{{i18n 'specific'}}</label>
        <input type="text" name="specific" value="{{specific}}" />
    </div>
    <div class="buttons">
        <button>{{i18n 'save'}}</button>
        <button class="cancel">{{i18n 'cancel'}}</button>
    </div>
</form>