<ol class="spell-list toolbelt-alternate">
    {{#if spells.length}}
    {{#each spells as |entry|}}
    {{#if entry includeZero=true}}

    <li class="header-row item">
        <div class="item-name">
            <h3>
                {{#if (eq @index 0)}}
                {{localize 'PF2E.Actor.Creature.Spellcasting.Cantrips'}}
                {{else if (eq @index 12)}}
                {{localize 'PF2E.Focus.Spells'}}
                {{else}}
                {{@root.entryRank @index}}
                {{/if}}
            </h3>

            {{#if (or (eq @index 12) (and (eq @index 0) @root.hasFocusCantrips))}}
            <span class="pips focus-pips">
                {{#times @root.focusPool.max}}
                <i
                    class="{{#if (gt @root.focusPool.value this)}}fas fa-dot-circle{{else}}far fa-circle{{/if}}"></i>
                {{/times}}
            </span>
            {{/if}}
        </div>
        <div class="spell-type">{{localize 'PF2E.Category'}}</div>
        <div class="spell-range">{{@root.i18n 'range'}}</div>
    </li>

    {{#each entry as |spell|}}
    <li class="item spell{{#if spell.isVirtual}} virtual{{/if}}{{#if spell.noHover}} no-hover{{/if}}{{#if spell.isBroken}} broken{{/if}}"
        data-entry-id="{{spell.entryId}}" data-slot-id="{{spell.slotId}}"
        data-group-id="{{spell.groupId}}" data-item-id="{{spell.itemId}}"
        data-cast-rank="{{spell.castRank}}" {{#if spell.expended}} data-slot-expended {{/if}}
        data-item-type="spell">

        <div class="item-name">
            <div class="item-image framed">
                <img class="item-icon" src="{{spell.img}}" alt="{{spell.name}}" />
                {{#if @root.isOwner}}
                <i class="fa-solid fa-message"></i>
                {{/if}}
            </div>
            <h4 class="name">
                <a data-action="toggle-summary">{{spell.name}}</a>
                {{{actionGlyph spell.action}}}
            </h4>
        </div>

        <div class="spell-type">
            <span class="uses-label">
                {{localize spell.type}}
                {{#if spell.isBroken}}
                <i class="fa-solid fa-link-slash broken"></i>
                {{/if}}
            </span>

            {{#if (and (not spell.isCantrip) (or spell.isSpontaneous spell.isInnate
            spell.isActiveCharges spell.consumable))}}
            <div class="uses">
                <span class="spell-slots-input">
                    <input type="number" value="{{spell.uses.value}}" {{#if spell.isStaff}}
                        data-is-staff="true" {{else}} data-input-path="{{spell.inputPath}}" {{/if}}
                        data-entry-id="{{#if spell.isInnate}}{{spell.itemId}}{{else if spell.consumable}}{{spell.consumable.id}}{{else}}{{spell.entryId}}{{/if}}"
                        placeholder="0" min="0" max="{{spell.uses.max}}" {{disabled (or (not
                        @root.isOwner) (and spell.uses.autoDestroy (eq spell.uses.max 1) (lte
                        spell.uses.value 1)))}}>
                </span>
                {{#if (and spell.uses.max (not spell.isStaff))}}
                <span class="slash"> / </span>
                <span class="spell-max-input">
                    <input type="number" value="{{spell.uses.max}}" placeholder="0" disabled />
                </span>
                {{/if}}
                {{#if @root.isOwner}}
                <a class="spell-slots-increment-reset"
                    data-item-id="{{#if spell.isInnate}}{{spell.itemId}}{{else if spell.consumable}}{{spell.consumable.id}}{{else}}{{spell.entryId}}{{/if}}"
                    data-rank="{{spell.castRank}}" data-is-staff="{{spell.isStaff}}"
                    data-is-charge="{{spell.isCharges}}">
                    <i class="fas fa-redo"></i>
                </a>
                {{/if}}
            </div>

            {{else if (and spell.isPrepared @root.isOwner (not spell.isCantrip))}}
            <a class="item-toggle-prepare" data-action="toggle-slot-expended">
                <i
                    class="fas fa-fw {{#if spell.expended}}fa-plus-square{{else}}fa-minus-square{{/if}}"></i>
            </a>
            {{/if}}

        </div>

        {{#if @root.isOwner}}
        {{#if (eq spell.consumable.isEquipped false)}}
        <button type="button" class="cast-spell blue" data-action="draw-item"
            data-item-id="{{spell.consumable.id}}">{{localize
            "PF2E.Actions.Interact.Draw.Title"}}</button>
        {{else}}
        <button type="button" class="cast-spell blue" data-action="cast-spell">{{localize
            "PF2E.Item.Spell.Cast"}}</button>
        {{/if}}
        {{/if}}

        <div class="spell-range" data-tooltip="{{spell.entryName}}: DC {{spell.entryDc}}">
            {{spell.range}}</div>

        <div class="item-summary" hidden="hidden"></div>
    </li>

    {{/each}}

    {{/if}}
    {{/each}}
    {{/if}}

    {{#if rituals.length}}
    <li class="header-row item ritual">
        <div class="item-name">
            <h3>{{localize 'PF2E.Actor.Creature.Spellcasting.Rituals'}}</h3>
        </div>

        <div class="spell-type">{{localize 'PF2E.BrowserFilterCastingTime'}}</div>

        <div class="spell-range">{{localize 'PF2E.LevelLabel'}}</div>
    </li>

    {{#each rituals as |ritual|}}
    <li class="item spell ritual" data-group-id="{{ritual.rank}}" data-cast-rank="{{ritual.rank}}"
        data-entry-id="rituals" data-item-id="{{ritual.itemId}}">

        <div class="item-name">
            <div class="item-image framed">
                <img class="item-icon" src="{{ritual.img}}" alt="{{ritual.name}}" />
                {{#if @root.isOwner}}
                <i class="fa-solid fa-message"></i>
                {{/if}}
            </div>
            <h4 class="name">
                <a data-action="toggle-summary">{{ritual.name}}</a>
                {{{actionGlyph spell.action}}}
            </h4>
        </div>

        <div class="spell-type">{{ritual.time}}</div>

        {{#if @root.isOwner}}
        <button type="button" class="cast-spell blue" data-action="cast-spell">{{localize
            "PF2E.CastLabel"}}</button>
        {{/if}}

        <div class="spell-range">{{ritual.rank}}</div>

        <div class="item-summary" hidden="hidden"></div>
    </li>
    {{/each}}
    {{/if}}
</ol>