<div class="drop-zone">
    <a class="content-link" data-tooltip="{{localize 'CONTROLS.CommonOpenSheet'}}"
        data-action="open-macro-sheet" data-macro-uuid="{{macro.uuid}}">
        <img src="{{macro.img}}" />
        <span class="name">{{macro.name}}</span>
    </a>
    <a class="delete" data-action="delete-macro"
        data-tooltip="{{localize 'PF2E.Item.Ability.SelfAppliedEffect.Delete'}}">
        <i class="fa-solid fa-trash"></i>
    </a>
</div>