<div class="buy-content" data-tooltip-class="pf2e">
    {{> "systems/pf2e/templates/compendium-browser/filters.hbs"}}
    <div class="filters">
        {{#each filters as |filter|}}
        {{> "filter" filter=filter cannotUp=@first cannotDown=@last}}
        {{/each}}
        {{> "filter" filter=defaultFilter isDefault=true}}
    </div>
</div>

{{#*inline "filter"}}
<div class="filter{{ifThen filter.expanded ' expanded' ''}}" data-filter-id="{{filter.id}}">
    <div class="header">
        {{#if isDefault}}
        <span class="name">{{filter.name}}</span>
        {{else}}
        <a class="name" data-action="toggle-summary">
            {{filter.name}}
        </a>
        {{/if}}
    </div>

    <hr>

    <div class="summary">
        {{{filter.summary}}}
    </div>

    <hr>

    <div class="menu">
        <div class="spacer"></div>

        <label class="purse"
            data-tooltip="{{ifThen isDefault (@root.i18Path 'purse.total.tooltip') (@root.i18Path 'purse.tooltip')}}">
            <span>
                {{#if isDefault}}
                {{@root.i18n 'purse.total.label'}}
                {{else}}
                {{@root.i18n 'purse.label'}}
                {{/if}}
            </span>
            <input type="number" name="purse" value="{{filter.purse}}" min="0" step="1">
        </label>

        <label class="price" data-tooltip="{{@root.i18Path 'price.tooltip'}}">
            <span>{{@root.i18n 'price.label'}}</span>
            <input type="number" name="price-ratio" value="{{filter.priceRatio}}" {{#with
                @root.priceRatio}} min="{{min}}" max="{{max}}" step="{{step}}" placeholder="{{buy}}"
                {{/with}}>
        </label>

        {{#if isDefault}}
        <label class="buy-all" data-tooltip="{{@root.i18Path 'default.tooltip'}}">
            <span>{{@root.i18n 'default.all'}}</span>
            <input type="checkbox" name="buy-all" {{checked filter.buyAll}}>
        </label>
        {{else}}
        <div class="arrows">
            {{#if cannotUp}}
            <span>
                <i class="fa-solid fa-caret-up"></i>
            </span>
            {{else}}
            <a data-action="move-filter" data-direction="up" data-tooltip="{{@root.i18Path 'up'}}">
                <i class="fa-solid fa-caret-up"></i>
            </a>
            {{/if}}

            {{#if cannotDown}}
            <span>
                <i class="fa-solid fa-caret-down"></i>
            </span>
            {{else}}
            <a data-action="move-filter" data-direction="down"
                data-tooltip="{{@root.i18Path 'down'}}">
                <i class="fa-solid fa-caret-down"></i>
            </a>
            {{/if}}
        </div>

        <div class="controls">
            <a data-action="edit-filter" data-tooltip="{{@root.i18Path 'edit'}}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
            <a data-action="delete-filter" data-tooltip="{{@root.i18Path 'delete.title'}}">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
        {{/if}}
    </div>
</div>
{{/inline}}