<div class="target-header" data-target-uuid="{{uuid}}">
    <span class="name">{{name}}</span>
    <span class="controls">
        {{#if save.result}}
        {{#if canReroll}}
        <a data-action="reroll-save" data-statistic="{{save.statistic}}" data-tooltip="{{save.result.tooltip}}">
            <i class="{{save.icon}}"></i>
            <span class="degree {{save.result.success}}">{{save.result.value}}</span>
            <i class="fa-solid fa-rotate rotate"></i>
        </a>
        {{else}}
        <span data-tooltip="{{save.result.tooltip}}">
            <i class="{{save.icon}}"></i>
            <span class="degree {{save.result.success}}">{{save.result.value}}</span>
            <i class="{{rerolled.icon}} small"></i>
        </span>
        {{/if}}
        <hr>
        {{else if save}}
        <a data-action="roll-save" data-statistic="{{save.statistic}}" data-tooltip="{{save.tooltip}}">
            <i class="{{save.icon}}"></i>
            <i class="fa-solid fa-dice-d20 die"></i>
        </a>
        <hr>
        {{/if}}
        <a data-action="ping-target" data-tooltip="COMBAT.PingCombatant">
            <i class="fa-solid fa-fw fa-signal-stream"></i>
        </a>
        <a data-action="open-target-sheet" data-tooltip="{{i18n 'sheet'}}">
            <i class="icon fa-solid fa-file"></i>
        </a>
    </span>
</div>