<div class="target-header" data-target-uuid="{{uuid}}">
    <span class="name">{{name}}</span>
    <span class="controls">
        {{#if save}}
        {{#if save.result}}
        <span
            data-tooltip="{{localize save.label}} DC {{save.dc}}: {{localize (concat 'PF2E.Check.Result.Degree.Check.' save.result.success)}}">
            <i class="{{save.icon}}"></i>
            <span class="{{save.result.success}}">{{save.result.value}}</span>
        </span>
        <hr>
        {{else if save}}
        <a data-action="roll-save" data-statistic="{{save.statistic}}" data-tooltip="{{localize save.label}} DC {{save.dc}}">
            <i class="{{save.icon}}"></i>
            <i class="fa-solid fa-dice-d20 small"></i>
        </a>
        <hr>
        {{/if}}
        {{/if}}
        <a data-action="ping-target" data-tooltip="COMBAT.PingCombatant">
            <i class="fa-solid fa-fw fa-signal-stream"></i>
        </a>
        <a data-action="open-target-sheet" data-tooltip="PF2E.Actor.Party.Sidebar.OpenSheet">
            <i class="icon fa-solid fa-file"></i>
        </a>
    </span>
</div>