<div class="pf2e-toolbelt-target-save">
    <div>{{check}}</div>
    {{#if result}}
    <div class="result">{{{result}}}</div>
    {{#each modifiers as |modifier|}}
    <div>{{modifier.label}} {{numberFormat modifier.modifier decimals=0 sign=true}}</div>
    {{/each}}
    {{#if canReroll}}
    <div class="note"><i class="fa-solid fa-rotate"></i> {{i18n 'reroll.tooltip.enabled'}}</div>
    {{else if rerolled}}
    <div class="note"><i class="fa-solid fa-rotate disabled"></i> {{i18n 'reroll.tooltip.disabled'}}</div>
    {{/if}}
    {{/if}}
</div>