<div class="standard-form">
    <div class="form-group">
        <label>{{@root.i18n 'label'}}</label>
        <input type="text" name="label" value="{{label.value}}" placeholder="{{label.placeholder}}">
    </div>
    {{#if counter}}
    <div class="form-group">
        <label>{{localize 'PF2E.Item.Effect.Badge.Type.counter'}}</label>
        <div class="form-fields">
            <input type="number" name="system.badge.value" value="{{counter.value}}"
                placeholder="{{counter.default}}" />
        </div>
    </div>
    {{/if}}
    <div class="form-group">
        <label>{{localize "PF2E.Time.Duration"}}</label>
        {{> systems/pf2e/templates/items/partials/duration.hbs base="system.duration"
        duration=data.duration units=timeUnits}}
    </div>
    {{#unless (or (eq data.duration.unit "unlimited") (eq data.duration.unit "encounter"))}}
    <div class="form-group">
        <label>{{localize "PF2E.Item.Effect.Expiry.ExpiresOn"}}</label>
        <div class="form-fields">
            <select name="system.duration.expiry">
                {{selectOptions expiryOptions selected=data.duration.expiry localize=true}}
            </select>
        </div>
    </div>
    {{/unless}}
    {{#if origin}}
    <div class="form-group">
        <label>{{@root.i18n 'origin'}}</label>
        <div class="form-fields">
            <select name="origin">
                {{selectOptions origin.combatants selected=origin.selected}}
            </select>
        </div>
    </div>
    {{/if}}
    {{#if isGM}}
    <div class="form-group">
        <label>{{localize "PF2E.Item.Effect.Unidentified"}}</label>
        <div class="form-fields">
            <input type="checkbox" name="system.unidentified" {{checked data.unidentified}} />
        </div>
    </div>
    {{/if}}
    <div class="form-footer">
        <button type="button" data-action="add">
            <i class="fa-solid fa-bolt-lightning"></i>
            <label>{{@root.i18n 'add'}}</label>
        </button>
        <button type="button" data-action="cancel">
            <i class="fa-solid fa-xmark"></i>
            <label>{{@root.i18n 'cancel'}}</label>
        </button>
    </div>
</div>