<div class="form-group">
    <label>{{i18n 'label'}}</label>
    <select name="{{selectPath}}">
        <option value="">{{i18n 'select'}}</option>
        {{selectOptions masters selected=master nameAttr="key" labelAttr="label"}}
    </select>
    <p class="hint">{{i18n 'hint'}}</p>
</div>