<div class="{{@root.i18n.path 'dialog'}}">
    <div class="img">
        <img src="{{item.img}}">
    </div>
    <div class="hint">
        <div>{{@root.i18n 'request'}}:</div>
        <div>&#x2022; <strong>{{item.name}}</strong></div>
        <div>{{@root.i18n 'proceed'}}</div>
    </div>
</div>